.header-aside {
    background-color: #C8A35F;
    padding: 10px 0;
}
.container {
    display: flex;
    max-width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}
.aside-lenguage {
    padding: 0 10px;
    box-sizing: border-box;
    width: calc(100%/3);
}
.aside-lenguage a {
    text-decoration: none;
    margin-right: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    opacity: 0.5;
    width: fit-content;
}
.aside-lenguage a:hover {
    color: #fff;
    opacity: 1;
}
.aside-lenguage a:last-child {
    margin-right: 0;
}
.aside-phone {
    padding: 0 10px;
    box-sizing: border-box;
    width: calc(100%/3);
}
.aside-phone a {
    text-decoration: none;
    text-align: center;
    display: block;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
    width: fit-content;
    margin: 0 auto;
}
.aside-email {
    padding: 0 10px;
    box-sizing: border-box;
    width: calc(100%/3);
}
.aside-email a {
    display: block;
    text-decoration: none;
    margin-right: 0;
    margin-left: auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    color: #FFFFFF;
    width: fit-content;
}
.header {
    background-color: #2F343A;
    padding: 10px 0;
    position: relative;
    min-height: 50px;
}
.with-center {
    align-items: center;
}
.burger-menu {
    display: none;
}
.header-logo a img {
    display: block;
    width: 100%;
    max-width: 160px;
    transition: all 1s;
}
.header-logo a img:hover {
    transform: scale(1.5);
    transition: all 1s;
}
.header-list ul {
    padding-left: 0;
    list-style: none;
    display: flex;
    align-items: center;
}
.header-list ul li {
    margin-left: 10px;
}
.header-list ul li:first-child {
    margin-left: 0;
}
.header-list ul li a {
    font-family: Roboto;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.header-list ul li a:hover {
    color: #C8A35F;
}
.hero {
    background-image: url('../img/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    padding-top: 50%;
}
.hero-text {
    width: 100%;
    max-width: 920px;
    height: 245px;
    border: 1px solid #C8A35F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hero-text h2 {
    margin: 0;
    margin-bottom: 30px;
    padding: 0 10px;
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    transform: translate(0, 120%);
    opacity: 0;
    transition: all 1s ease 0s;
}
.hero-title._active {
    transform: translate(0, 0);
    opacity: 1;
}
.hero-text p {
    margin: 0;
    padding: 0 10px;
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    max-width: 777px;
    transform: translate(0, 120%);
    opacity: 0;
    transition: all 1s ease 0.5s;
}
.text-hero._active {
    transform: translate(0, 0);
    opacity: 1;
}
.our-car {
    background-color: #2F343A;
    position: relative;
    height: 545px;
}
.left-bg {
    position: relative;
    width: 40%;
    height: 545px;
    top: 0;
    left: 0;
    background-color: #393F47;
}
.right-bg {
    position: relative;
    width: 40%;
    height: 545px;
    top: -545px;
    right: 0;
    margin-right: 0;
    margin-left: auto;
    background-color: #393F47;
}
.our-car-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 80%;
}
.our-car-text {
    width: 50%;
    padding-right: 10px;
    box-sizing: border-box;
}
.our-car-text h2 {
    margin: 0;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
    margin-top: 10px;
}
.our-car-text h2::before {
    content: "";
    position: absolute;
    width: 90px;
    height: 4px;
    top: -7px;
    left: 10px;
    background: #C8A35F;
}
.our-car-text p {
    margin: 0;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}
.our-car-text button {
    width: 200px;
    height: 50px;
    background: #C8A35F;
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.5s;
}
.our-car-text button:hover {
    background: #000;
}
.our-car-image {
    width: 50%;
    padding-left: 10px;
    box-sizing: border-box;position: relative;
}
.our-car-image img {
    position: absolute;
    width: 100%;
    height: 120%;
    left: 0;
    top: 0;
    object-fit: cover;
}
.air-fly {
    background-color: #2F343A;
    padding: 100px 0;
}
.air-fly h2 {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    margin-top: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
    padding: 0 10px;
    box-sizing: border-box;
}
.air-fly h2::before {
    content: "";
    position: absolute;
    width: 90px;
    height: 4px;
    top: -7px;
    left: 10px;
    background: #C8A35F;
}
.with-wrap {
    flex-wrap: wrap;
}
.air-fly-box {
    width: 24.6%;
    height: 180px;
    margin: 2px;
    background-color: #393F47;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    cursor: pointer;
}
.air-fly-box:hover {
    background-color: #C8A35F;
    transition: all 0.5s;
}
.air-fly-box img {
    display: block;
    width: 100%;
    max-width: 30px;
    margin-bottom: 40px;
}
.air-fly-box span {
    display: block;
    padding: 0 10px;
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.about-us {
    background-color: #2F343A;
    position: relative;
    padding: 100px 0;
}
.bg-center {
    position: relative;
    margin: 0 auto;
    width: 40%;
    height: 480px;
    background-color: #393F47;
}
.with-position {
    width: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.about-us-text {
    width: 50%;
    padding-right: 10px;
    box-sizing: border-box;
}
.about-us-text h2 {
    margin: 0;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 30px;
    margin-top: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
}
.about-us-text h2::before {
    content: "";
    position: absolute;
    width: 90px;
    height: 4px;
    top: -7px;
    left: 10px;
    background: #C8A35F;
}
.about-us-text p {
    margin: 0;
    padding: 0 10px;
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #FFFFFF;
}
.about-us-information {
    width: 50%;
    padding-left: 10px;
    box-sizing: border-box;
}
.information-container {
    display: flex;
    flex-wrap: wrap;
}
.information-box {
    width: calc(100%/3);
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 0.25px solid #C8A35F;
    box-sizing: border-box;
    position: relative;
}
.information-box span {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #2F343A;
}
.information-box p {
    margin: 0;
    padding: 0 10px;
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #000000;
}
.information-box img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
}
footer {
    padding: 40px 0;
    background: #C8A35F;
}
.footer-logo {
    width: calc(100%/3);
    padding-right: 10px;
    box-sizing: border-box;
}
.footer-logo a img {
    display: block;
    width: 100%;
    max-width: 160px;
    transition: all 0.5s;
}
.footer-logo a img:hover {
    transform: scale(1.2);
    transition: all 0.5s;
}
.footer-adress {
    width: calc(100%/3);
    padding: 0 10px;
    box-sizing: border-box;
}
.footer-adress p {
    margin: 0;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #F2F2F2;
    opacity: 0.8;
}
.footer-adress a {
    text-decoration: none;
    padding: 0 10px;
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #2F343A;
}
.footer-adress a:hover {
    color: #4acf98;
}
.footer-tel {
    width: calc(100%/3);
    padding-left: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.footer-tel a {
    text-decoration: none;
    padding: 0 10px;
    box-sizing: border-box;
    text-align: right;
    margin-bottom: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #F2F2F2;
}
.footer-tel a:last-child {
    margin-bottom: 0;
}




@media (max-width: 1260px) {
    .information-box span {
        font-size: 40px;
        line-height: 45px;
        transition: all 0.5s;
    }
}
@media (max-width: 985px) {
    .hero-text {
        max-width: 700px;
    }
    .hero-text h2 {
        font-size: 55px;
        line-height: 60px;
    }
}

@media (max-width: 950px) {
    .our-car-text h2 {
        font-size: 30px;
        line-height: 35px;
        transition: all 0.8s;
    }
    .air-fly-box span {
        font-size: 12px;
        line-height: 15px;
        padding: 0 15px;
        box-sizing: border-box;
    }
}


@media (max-width: 767px) {
    .burger-menu {
        display: block;
        width: 30px;
        height: 18px;
        position: absolute;
        top: 24px;
        right: 33px;
        cursor: pointer;
    }
    .burger-menu::before,
    .burger-menu::after,
    .burger-menu span {
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        transition: all 1s;
    }
    .burger-menu::before,
    .burger-menu::after {
        content: "";
    }
    .burger-menu span {
        transform: scale(1);
        top: 50%;
    }
    .burger-menu::before {
        top: 0;
    }
    .burger-menu::after {
        bottom: 0;
    }
    .burger-menu.active::before {
        transform: rotate(45deg) translate(0, -50%);
        top: 50%;
    }
    .burger-menu.active::after {
        transform: rotate(-45deg) translate(0, 50%);
        bottom: 50%;
    }
    .burger-menu.active span {
        transform: scale(0);
    }
    .list {
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: 35px;
        z-index: 4;
        margin: 0;
        transition: all 1s;
        transform: scale(0);
    }
    .header-list ul li {
        margin: 0 0 10px 0;
    }
    .header-list ul li a {
        color: rgb(202, 230, 47);
    }
    .list.show {
        transform: scale(1);
        transition: all 1s;
    }
    .hero-text {
        border: none;
    }
    .hero-text h2 {
        font-size: 35px;
        line-height: 40px;
    }
    .hero-text p {
        font-size: 20px;
        line-height: 25px;
    }
    .hero {
        padding-top: 80%;
    }
    .our-car-image {
        display: none;
    }
    .our-car-text {
        width: 100%;
        padding-right: 0;
        text-align: center;
    }
    .our-car-text h2::before {
        display: none;
    }
    .air-fly-box {
        width: 48%;
        margin-bottom: 10px;
    }
    .about-us-information {
        display: none;
    }
    .about-us-text {
        width: 100%;
        padding-right: 0;
    }
    .container.with-center {
        flex-direction: column;
    }
    .footer-logo {
        width: 100%;
        padding-right: 0;
        margin-bottom: 15px;
    }
    .footer-logo img {
        margin:  0 auto;
    }
    .footer-adress {
        width: 100%;
        padding-right: 0;
        margin-bottom: 15px;
        text-align: center;
    }
    .footer-tel {
        width: 100%;
        padding-right: 0;
    }
    .footer-tel a {
        text-align: center;
    }
}